language: android
jdk: oraclejdk8

before_install:
  - export "JAVA7_HOME=/usr/lib/jvm/java-7-oracle"
  - export "JAVA8_HOME=/usr/lib/jvm/java-8-oracle"

script:
  - ./gradlew assemble
  - ./gradlew test

